.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 1200px;
  max-height: 90vh; /* Changed from 90% to 90vh for better responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  flex-grow: 1;
  overflow-y: auto;
  text-align: left !important;
}

.modal-body > div {
  text-align: left !important;
  margin-bottom: 15px;
}

.filters-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.filters-table th, .filters-table td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left !important;
}

.filters-table th {
  background-color: #444;
}

.modal-response {
  text-align: left !important;
}

.modal-response * {
  text-align: left !important;
}
.delete-btn, .favorite-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.delete-btn:hover {
  background-color: #e74c3c;
}

.favorite-btn:hover {
  background-color: #2ecc71;
}

.modal-footer {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Add some space between the buttons */
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.delete-btn, .favorite-btn {
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.delete-btn {
  background-color: #e74c3c; /* Red background by default */
}

.favorite-btn {
  background-color: #2ecc71; /* Green background by default */
}

.delete-btn:hover {
  background-color: #c0392b; /* Slightly darker red on hover */
}

.favorite-btn:hover {
  background-color: #27ae60; /* Slightly darker green on hover */
}
